<h2 class="text-center">Categories</h2>
<p *ngIf="error$ | async" class="text-danger text-center">
    An error occured please make sure your category does not have any products depending on it and
    try again.
</p>
<div class="card p-3 my-3">
    <div class="row fw-bold pb-3 border-bottom">
        <div class="col-2 col-sm-1">Id</div>
        <div class="col-3 col-sm-3">Name</div>
        <div class="col-4 col-sm-4">Description</div>
        <div class="col-1 col-sm-1"></div>
    </div>
    <div class="row border-bottom" *ngFor="let category of categories$ | async; trackBy: trackByFn">
        <div class="col-2 col-sm-1 fw-bold">{{ category.id }}</div>
        <div class="col-3 col-sm-3">{{ category.name }}</div>
        <div class="col-4 col-sm-4">{{ category.description }}</div>
        <div class="col-1 col-sm-1">
            <button class="btn" [routerLink]="[category.id]"><i class="bi-pencil"></i></button>
            <button class="btn" (click)="delete(category)"><i class="bi-trash"></i></button>
        </div>
    </div>
</div>

<app-add-category></app-add-category>
