<nav class="navbar navbar-expand bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="[routeConstants.home]">Medicare</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <ng-container *ngIf="!(loggedIn$ | async)">
                    <li class="nav-item">
                        <a class="nav-link align-self-end" [routerLink]="[routeConstants.login]">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[routeConstants.register]"> Register </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="loggedIn$ | async">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[routeConstants.cart]">Cart</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn nav-link" (click)="logout()">Logout</button>
                    </li>
                </ng-container>
                <li *ngIf="isAdmin$ | async" class="nav-item">
                    <a class="nav-link" [routerLink]="[routeConstants.admin]">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid p-3">
    <router-outlet></router-outlet>
</div>
