<article class="card p-4">
    <a [routerLink]="[routeConstants.products, product.id]" class="d-block w-100 btn p-0">
        <img class="product-image" [src]="product.imageUrl" [alt]="product.name" />
        <h5 class="d-block w-100 mt-2 text-start">{{ product.name }}</h5>
    </a>
    <p>{{ displayPrice(product.price) }}</p>
    <button
        *ngIf="loggedIn$ | async; else loggedOut"
        [disabled]="loading$ | async"
        (click)="addToCart()"
        class="btn btn-secondary"
    >
        Add to cart
    </button>
    <ng-template #loggedOut>
        <button [disabled]="true" class="btn btn-secondary">Login to add to cart</button>
    </ng-template>
</article>
