<h2>Products</h2>
<form class="card p-3 form-group" [formGroup]="addProductForm">
  <h3>New product</h3>
  <label class="form-label" for="name">Name</label>
  <input required autocomplete="off" class="form-control" id="name" type="text" formControlName="name">
  <p *ngIf="name?.touched && name?.invalid" class="text-danger mt-1">
    This field is required and has a min length of 3 and a max length of 100 chars
  </p>
  <label class="form-label" for="description">Description</label>
  <textarea required autocomplete="off" class="form-control" id="description" type="text" formControlName="description">
  </textarea>
  <p *ngIf="description?.touched && description?.invalid" class="text-danger mt-1">
    This field is required and has a min length of 3 and a max length of 200 chars
  </p>
  <label class="form-label" for="price">Price (in cents)</label>
  <input required autocomplete="off" class="form-control" id="price" type="tel" formControlName="price">
  <p *ngIf="price?.touched && price?.invalid" class="text-danger mt-1">
    This field is required, can only contain integers and needs to be greater then 1.
  </p>
  <button [disabled]="addProductForm.invalid" class="btn btn-primary mt-3" type="submit">Add+</button>
</form>
